﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EmailValidationLandingPage.aspx.cs" Inherits="WebApplication.Pages.EmailValidationLandingPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
</body>
</html>
