﻿html{
    background: url(../imagenes/fondoprincipal2.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.Contenedor{
    width: 1300px;
    height: 650px;
    background: url(../imagenes/fondoprincipal.jpg);
    background-position: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

#DropDownList1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:30px;
    width:70%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    font-size:20px;
}

#lblfiltro{
    font-size:30px;
    margin-right:20px;
}

.ContFiltro{
    
    width:400px;
    height:50px;
    position:absolute;
    top:10%;
}

.ContBotones{
    
    width:400px;
    height:500px;
    position:absolute;
    bottom:2%;
    text-align:center;
}

.ContElResto{
    width:800px;
    height:570px;
    position:absolute;
    right:3%;
    bottom:2%;
}

.Botones{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    margin-bottom:30px;
    font-size:25px;
    margin-left:30px;
    margin-top:30px;
    width:300px;
    height:50px;
}

#Titulo{
    position:absolute;
    top:2%;
    left:42%;
    font-size:40px;
}

#Tabla_Datos_Generales{
    background-color:white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    text-align:center;
    width:100%;
    overflow-y: scroll; 
    margin:20px;

}

#Tabla_Datos_Generales th{
    padding:10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#Tabla_Datos_Generales td{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding-bottom:10px;
    padding-top:5px;
    padding-right:5px;
    padding-left:5px;

}

#Tabla_Datos_Generales input{
    border-radius:35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    width:100px;
    height:30px;
    font-size:15px;
}

#Label1{
    font-size:40px;
}

#Label2{
    font-size:40px;
}

#Label3{
    font-size:40px;
}

#Label4{
    font-size:40px;
}

#GridView1{
    background-color:white;
    width:100%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:20px;
}

#GridView1 td{
    text-align:center;
    padding:10px;
}

#GridView1 th{
    color:black;
    height:40px;
    background-color: #95A5A6;
}



#GridView2{
    background-color:white;
    width:100%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:20px;
}

#GridView2 td{
    text-align:center;
    padding:10px;
}

#GridView2 th{
    color:black;
    height:40px;
    background-color: #95A5A6;
}


#GridView3{
    background-color:white;
    width:100%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:20px;
}

#GridView3 td{
    text-align:center;
    padding:10px;
}

#GridView3 th{
    color:black;
    height:40px;
    background-color: #95A5A6;
}

#btnAtras{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    margin-bottom:30px;
    font-size:25px;
    margin-left:30px;
    margin-top:30px;
    width:300px;
    height:50px;
    position:absolute;
    bottom:3%;
    left:40%;
}