﻿body{
    background: url(../imagenes/fondoprincipal2.jpg)
}

.ContenedorPrincipal{
    width: 700px;
    height: 750px;
    background: url(../imagenes/fondoprincipal.jpg);
    background-position: center;
    position: absolute;
    border-radius:35px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    transform: translate(-50%,-50%);
    top: 65%;
    left: 50%;
}

.ninjadiv{
    background-color: black;
    width: 641px;
    height: 75px;
    z-index:1;
    margin-top:-2px;
    position:absolute;
}

.Contenedor2{
    position:absolute;
    left:5%;
    top:10%;
    background-color:white;
    width:640px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display:list-item;
    height:auto;
}

.Titulo{
    position:absolute;
    left:30%;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:2%;
}

#Label1{
    position:absolute;
    left:30%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lblTipoResiduo{
    position:absolute;
    left:50%;
    bottom:15px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#divVisible{
    margin-top:20px;
    margin-bottom:20px;
}

#btnAlertar{
    position:absolute;
    right:10%;
    bottom:18px;
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height:25px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lblEstado{
    position:absolute;
    left:50%;
    bottom:45px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Atras{
    position:absolute;
    left:25%;
    bottom:3%;
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height:35px;
    width:350px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btnEliminarContainer{
    position:absolute;
    left:2%;
    bottom:8%;
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height:35px;
    width:200px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btnNuevoContainer{
    position:absolute;
    left:2%;
    bottom:2%;
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height:35px;
    width:250px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btnVaciarContainer{
    position:absolute;
    left:2%;
    bottom:14%;
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height:30px;
    width:150px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}