﻿body{
    background: url(../imagenes/fondoprincipal2.jpg)
}

.ContenedorPrincipal{
    width: auto;
    height: auto;
    background: url(../imagenes/fondoprincipal.jpg);
    background-position: center;
    position: initial;
    border-radius:35px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

#cuadroimagen{
    width: 400px;
    height: 300px;
    margin: 20px 20px;
}

.Contenedor1{
    margin-left: 20px;
    width: auto;
    height: auto;
}

.Campo{
    width: 385px; 
    border-radius:35px;
    height: 30px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size:25px;
    padding: 5px;
    vertical-align:middle;
}

label{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titulo{
    margin-left:40%;
    font-size: 50px;
}

.Contenedor2{
    position:absolute;
    left: 50%;
    top: 89px;
    background-color:white;
    width:640px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display:list-item;
}

@media (max-width: 1300px) {
    .Contenedor2 {
        position: initial;
        margin-left: 170px;
        background-color: white;
        border-color: black;
        border-width: 1px;
        border-style: solid;
    }

    #cuadroimagen {
        width: 400px;
        height: 300px;
        margin: 20px 20px;
        margin-left: 230px;
    }

    .Contenedor1 {
        margin-left: 280px;
        width: auto;
        height: auto;
    }
}

#hlEditUbicaciones{
    color:black;
    text-decoration:none;
    position:absolute;
    right:130px;
    top:10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:ButtonFace;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 35px;
    width:300px;
    height:40px;
    padding-left:50px;
    padding-top:10px;
}

#Image1{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 100px;
}

#BtnImgPerfil{
    margin-left: 160px;
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding:10px;
}

#BtnSubirImg{
    margin-top: 10px;
    margin-left: 120px;
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding:10px;
    background-color:white;
}

#cvImagen{
    color: red;
    font-size: 20px;
    margin-left: 24px;
    position:absolute;
}

.ninjadiv{
    background-color: black;
    width: 641px;
    height: 75px;
    z-index:1;
    margin-top:-2px;
    position:absolute;
}

.Campo2{
    padding:10px;
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 10px;
}

.Atras{
    padding:10px;
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 10px;
    width: 400px;
    font-size: x-large;
}

#BtnModificarDatosId{
    width: 400px;
    font-size: x-large;
}