﻿body {
    padding:0px;
    margin:0px;
    background:url(../Imagenes/fondoprincipal2.jpg)
}

.listing {
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  
}

.MyLabel {
  color: Black;
  text-decoration: none;
}

.listing li {
  display: flex;
  flex-direction: column;
  height:300px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color:white;
}

.VentanaPrincipal{
    width:1200px;
    height:400px;
    background:url(../Imagenes/fondoprincipal.jpg);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

.Titulo{
    position:absolute;
    left:37%;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:2%;
}

.Imgli{
    height:200px;
    width:100%;
    border-bottom:1px;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.lblli{
    margin-top:5px;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ScrollBar{
    overflow-y:scroll;
    margin-bottom:60px;
    height:80%;
}

.BtnBloq-Desb{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    height:40px;
    width: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    position:absolute;
    bottom:10%;
    left:32%;
    color:red;
}

.lblVacio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
    position:absolute;
    top:50%;
    left:22%;
    color:red;
}

.Atras{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    height:40px;
    width: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    position:absolute;
    bottom:10%;
    left:52%;
}