﻿html{
    background: url(../Imagenes/fondoprincipal2.jpg) no-repeat center center fixed;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loginbox{
    width: 1000px;
    height: 500px;
    background: url(../imagenes/fondoprincipal.jpg);
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    display:table;
}

.Contenedor2{
    background-color:white;
    width:640px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display:table-cell;
}

.Botones{
    
    display:table-row;
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size:x-large;
    height: 60px;
    width: 220px;
    margin-left:80px;
}


#txtAlias{
    margin-bottom:40px;
    margin-left:10px;
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height:30px;
    width:220px;
}

label{
    font-size:x-large;
    margin-left:20px;
}

#rfvAlias{
    position:absolute;
    top:115px;
    right:170px;
}

#Button1{
    margin-top:20px;
}

.ninjadiv{
    background-color: black;
    width: 641px;
    height: 99px;
    margin-top:-22px;
    z-index:1;
    position:absolute;
}

.BotonesOcultos{
    
    display:table-row;
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size:x-large;
    height: 60px;
    width: 220px;
    margin-left:80px;
    margin-top:20px;
}