﻿body{
    background: url(../imagenes/fondoprincipal2.jpg)
}

.ContenedorPrincipal{
    width: auto;
    height: auto;
    background: url(../imagenes/fondoprincipal.jpg);
    background-position: center;
    position: absolute;
    border-radius:35px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 5%;
    left: 30%;
    padding-top:20px;
    padding-bottom:20px;
}

.ContenedorPrincipal2{
    width: 400px;
    height: 400px;
    background: url(../imagenes/fondoprincipal.jpg);
    background-position: center;
    border-radius: 35px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.Campo{
    width: 385px; 
    border-radius:35px;
    height: 30px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size:25px;
    padding: 5px;
    vertical-align:middle;
}

label{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulo{
    margin-left:20%;
    font-size: 50px;
}

#Image1{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 50px;
}

#BtnSubirImg{
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding:10px;
    background-color:white;
}

#ValidarImagen{
    color: red;
    font-size: 16px;
}

.ValidarCampo{
    color:red;
    font-size:16px;
}

.ninjadiv{
    background-color: white;
    width: 640px;
    height: 72px;
    margin-top: 20px;
    z-index:1;
    position:absolute;
}

.Campo2{
    padding:10px;
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 10px;
    width: 250px;
}

#BtnModificarDatosId{
    width: 400px;
    font-size: x-large;
}