﻿html{
    
}

body{
    padding:0px;
    margin:0px;
    background:url(../Imagenes/fondoprincipal2.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.VentanaPrincipal{
    width:800px;
    height:350px;
    background:url(../Imagenes/fondoprincipal.jpg);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    
}

#DropDownList1{
    font-size: 20px;
    height:30px;
    width:80%;
    margin-right:20px;
    margin-bottom:20px;
        border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
}

.Titulo{
    position:absolute;
    left:40%;
    font-size: 50px;
    top:2%;
}

.SubTitulo1{
    position: absolute;
    top:5%;
    left:28%;
    font-size:35px;
}

.SubTitulo2{
    position: absolute;
    top:40%;
    left:40%;
    font-size:35px;
}

#Tabla_Datos_Generales{
    background-color:white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    text-align:center;
    width:100%;
    overflow-y: scroll; 
}

#Tabla_Datos_Generales th{
    padding:10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#Tabla_Datos_Generales td{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding-bottom:10px;
    padding-top:5px;
    padding-right:5px;
    padding-left:5px;

}

#Tabla_Datos_Generales input{
    border-radius:35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    width:100px;
    height:30px;
    font-size:15px;
}

.ScrollBar{
    overflow-y:scroll;
    margin-bottom:60px;
    height:80%;
}

.ScrollBar2{
    overflow-y:scroll;
    margin-bottom:60px;
    height:30%;
}

.Tabla_Resumen{
    background-color:white;
    width:100%;
    text-align:center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-bottom:10px;
}

#GridView1{
    background-color:white;
    width:100%;
    text-align:center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#GridView1 th{
    font-size:20px;
}

.Titulo_Tabla_Resumen{
    font-weight: bold;
    font-size:20px;
}

#btnCancelar{
    position:absolute;
    top:90%;
    font-size:20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    width:150px;
    height:40px;
}

#btnGuardar{
    position:absolute;
    top:90%;
    font-size:20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    width:150px;
    height:40px;
    right:5%;
}

#txtObservaciones{
    resize:none;
    height:50px;
    width:50%;
    border-color: black;
    border-width: 1px;
    border-style: solid;

}

#lblObservaciones{
    font-size:20px;
}

#lblValoraciones{
    position:absolute;
    top:67%;
    left:52%;
    font-size:20px;
}

#ddlbValoraciones{
    position:absolute;
    top:73%;
    left:52%;
    font-size:20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    width:45%;
    height:40px;
}

.Atras{
    font-size:20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    bottom:5%;
    left:5%;
    height:30px;
    width:150px;
}