﻿html{
    background: url(../Imagenes/fondoprincipal2.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.loginbox{
    width: 400px;
    height: 350px;
    background: url(../imagenes/fondoprincipal.jpg);
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    border-radius:10px;
}

.BotonIniciarSesion
{
    border: none;
    outline: none;
    height: 40px;
    background-color: lawngreen;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.BotonIniciarSesion:hover
{
    cursor: pointer;
    color: dimgray;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    margin-left: 80px;
}

.loginbox a:hover
{
    color: #fb2525;
}

#contrasenia, #usuario
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color:black;
}

.validacion{
    padding-bottom: 20px;
}

.btnGoogle{
    border: none;
    outline: none;
    height: 40px;
    background-color: lawngreen;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}