﻿html{
    background: url(../Imagenes/fondoprincipal2.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

form{ 
    width: auto;
    height: auto;
    background: url(../imagenes/fondoprincipal.jpg);
    color: black;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

label{
    font-weight: bold;
    float: left;
}

.textbox{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    background-color:black;
    border-radius:10px;
}

.BotonRegistrar{
    border: none;
    outline: none;
    height: 40px;
    background-color: lawngreen;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.BotonRegistrar:hover
{
    cursor: pointer;
    color: dimgray;
}

div{
    margin-bottom: 15px;
}

.validacion{
    margin-left:30px;
}

.btnGoogle{
    border: none;
    outline: none;
    height: 40px;
    background-color: lawngreen;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}