﻿html{
    background-color: lightgreen;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

footer{
    background-color: mediumaquamarine;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top:135%;
    height: 140px;
}

@media (max-width: 760px) {
    footer{
    background-color: mediumaquamarine;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top:100%;
    height: 140px;
    }
}


header {
    z-index: -2;
    height: 162px;
    margin-top: -22px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: mediumaquamarine;
   
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
  }
  ::selection {
    background: transparent;
  }
  
  h1 {
    cursor: default;
    position: absolute;
    top: 30px;
    left: 0;
    right: 60%;
    bottom: 0;
    height: 100px;
    margin: auto;
    display: block;
    
    animation: bounce .3s ease infinite alternate;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, fantasy;
    font-size: 70px;
    color:white;
    text-align: center;
    line-height: 100px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .6);
  }
  /* ANIMATION */
  @keyframes bounce {
    100% {
      top: -30px;
      
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 30px 30px rgba(0, 0, 0, .3);
    }
  }

  .boton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, fantasy;    
    width: 150px;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.boton {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.boton:hover {
    background-color: #008CBA;
    color: white;
}

#boton1{
    position: absolute;
    bottom: 40px;
    right: 300px;
    top: 65px;
}

#boton2{
    position: absolute;
    bottom: 40px;
    right: 50px;
    top: 65px;
}

#etiqueta1{
    position: absolute;
    bottom: 40px;
    right: 50px;
    top: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, fantasy;
    z-index: -1;
}

#titulo1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, fantasy;
    font-size: 60px;
    color: white;
    margin:30px;
}

#contenedor1{
    position: absolute;
    top: 40%;
    display:table;
}

#imagen1{
    width:400px;
    height:400px;
    margin:30px;
}

span {
    display:table-cell;
    vertical-align:middle;
}