﻿html{
    background: url(../Imagenes/fondoprincipal2.jpg) no-repeat center center fixed;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loginbox{
    width: 640px;
    height: 500px;
    background: url(../imagenes/fondoprincipal.jpg);
    color: black;
    top: 85%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    display:table;
}

.Contenedor2{
    background-color:white;
    width:640px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display:table-cell;
}

.Botones{
    margin-left:20px;
    display:table-cell;
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size:x-large;
    height: 60px;
    width: 220px;
}


p{
    margin-left:20px;
}

#Titulo{
    position:absolute;
    top:1%;
    left:42%;
    font-size:50px;
}

.ninjadiv{
    background-color: black;
    width: 641px;
    height: 78px;
    z-index:1;
    margin-top:-2px;
    position:absolute;
}

#SubTitulo{
    padding-left:110px;
    font-size:25px;
}

#SubTitulo2{
    padding-left:110px;
    font-size:25px;
}

#divFiltros{
    padding-left:190px;
    padding-top:20px;
    padding-bottom:20px;
}

#lblhorario{
    padding-left:60px;
}

#lbltiporesiduo{
    padding-left:30px;
}

#divDatos{
    padding-left:200px;
}

#btnRecolectado
{
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size:20px;
    height: 30px;
    width: 200px;
    margin-bottom:10px;
    margin-left:40px;
}


#btnAtras{
    position:absolute;
    border-radius: 35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size:20px;
    bottom:1%;
    left:40%;
    width:200px;
    height:40px;
}