﻿html{
    
}

body{
    padding:0px;
    margin:0px;
    background:url(../Imagenes/fondoprincipal2.jpg)
}

.VentanaPrincipal{
    width:600px;
    height:350px;
    background:url(../Imagenes/fondoprincipal.jpg);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    
}

.VentanaPrincipal2{
    width:600px;
    height:400px;
    background:url(../Imagenes/fondoprincipal.jpg);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    
}

.VentanaPrincipal3{
    width:500px;
    height:500px;
    background:url(../Imagenes/fondoprincipal.jpg);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

.Titulo{
    position:absolute;
    left:37%;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:2%;
}

.SubTitulo{
    position:absolute;
    left:45%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:15%;
}

.SubTitulo2{
    position:absolute;
    left:44%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:38%;
}

.SubTitulo3{
    position:absolute;
    left:43%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:63%;
}

.SubTitulo4{
    position:absolute;
    left:42%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:15%;
}

.SiguienteView{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    height:40px;
    width:150px;
    position:absolute;
    bottom:3%;
    right:5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

.AnteriorView{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    height:40px;
    width:150px;
    position:absolute;
    bottom:3%;
    right:70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

.btnAceptar{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    height:40px;
    width:150px;
    position:absolute;
    bottom:3%;
    right:5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

.btnCancelar{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    height:40px;
    width:150px;
    position:absolute;
    bottom:3%;
    right:70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

.btnAtras{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    height:40px;
    width:150px;
    position:absolute;
    bottom:3%;
    right:37%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

.TableRow {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:35px;
}

.TableCell{
    display:table-cell; 
}

.TableCell2{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    height:35px;
    width:550px;
    margin-bottom:5px;
}

.DisplayTable {
    width:600px;  
    height:250px;
    overflow-y: scroll; 
}

.DisplayTable2{
    position:absolute;
    margin-top:80px;
    overflow-y:scroll;
    width:500px;
    height:100px;
    background-color:white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.ContenedorFecha{

    height:130px;
}

.ContenedorHorario{

    height:130px;
}

.ContenedorUbicacion{

    height:130px;
}

.ContenedorResumen{
    height:500px;
}

.Calendario{
    width:40px;
    height:40px;
    vertical-align:middle;
}

.Fecha{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    height:30px;
    width: 200px;
    text-align: center;
}

.SubContenedorFecha{
    padding-top:70px;
    padding-left:200px;
}

#rbHorario{
    padding-top:55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

#btnAdministrarUbicacion{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    height:40px;
    width: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    margin-top:10px;
    margin-left:210px;
}

#Calendar1{
    z-index:2;
    position: absolute;
}

.ListaUbicaciones{
    margin-top:60px;
    margin-left:210px;
    width:200px;
    height:30px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
}

.lblDireccion{
    position:absolute;
    margin-top:200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

.lblHora{
    position:absolute;
    margin-top:250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

.lblObservacion{
    position:absolute;
    margin-top:320px;
}

#Label4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

#TextArea1{
    resize:none;
    height:100px;
    width:100%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.ValidatorUltimate100000IQ{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    position:absolute;
    margin-top:50px;
    color:red;
}

#RequiredFieldValidator2{
    margin-left:30px;
}

#RequiredFieldValidator8{
    margin-left:230px;
}

#RequiredFieldValidator1{
    margin-left:220px;
}