﻿html{
    background: url(../imagenes/fondoprincipal2.jpg);
}

.Contenedor{
    width: auto;
    height: auto;
    background: url(../imagenes/fondoprincipal.jpg);
    background-position: center;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius:35px;
    padding: 30px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

a label{

        text-decoration:none;
        font-weight: 600;
        font-size: 20px;
        color:#333333;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right:40px;
        background-color:white;
        border-color: black;
        border-width: 3px;
        border-style: solid;
        border-radius:35px;
        
}

a:link { 
    text-decoration:none; 
} 

.icono{
    width: 70px;
    height: 70px;
    vertical-align: middle;
    background-color: white;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

.secciones{
    padding: 20px;
}

label{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}