﻿html{
    
}

body{
    padding:0px;
    margin:0px;
    background:url(../Imagenes/fondoprincipal2.jpg)
}

.VentanaPrincipal{
    width:600px;
    height:650px;
    background:url(../Imagenes/fondoprincipal.jpg);
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;   
}

.VentanaPrincipal2{
    width:400px;
    height:350px;
    background:url(../Imagenes/fondoprincipal.jpg);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;   
}

.VentanaPrincipal3{
    width:400px;
    height:350px;
    background:url(../Imagenes/fondoprincipal.jpg);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;   
}

.Titulo{
    position:absolute;
    left:38%;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:2%;
}

.Titulo2{
    position:absolute;
    left:30%;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:2%;
}

.Titulo3{
    position:absolute;
    left:30%;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:2%;
}

#GridView1{
    background-color:white;
    width:100%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td{
    text-align:center;
    padding:10px;
}

th{
    color:black;
    height:40px;
    background-color: #95A5A6;
}

.ScrollBar{
    overflow-y:scroll;
    width:100%;
    height:200px;
}

#Button2{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:150px;
    margin-left:40px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

#Button4{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:150px;
    margin-left:40px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

#Button6{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:150px;
    margin-left:40px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

#Button1{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:300px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    margin-left:25%;
    margin-top:20px;
}

.contenedorBloquear{
    
    height: 100px;
    width:100%;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    text-align:center;
}

.txtBloquear{
    width:50%;
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height:25px;
    margin-left:30px;
}

.Filtro{
    display:table;
    width:50%;
}

.Filtro2{
    display:grid;
    width:50%;
    padding-left:19%;
}

.Filtro3{
    display:grid;
    width:50%;
    padding-left:19%;
}

.contenedor{
    display:table-caption;
    padding-bottom:10px;
    width:100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.txtFiltro{
    width:100%;
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height:20px;
}

.labelFiltro{

}

.ContenedorDeSelectorDeColores{

}

#Button3{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:300px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    margin-left:13%;
    margin-top:20px;
}

#Button5{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:300px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    margin-left:13%;
    margin-top:20px;
}

.lblControlador{
    color:red;
    margin-left:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

.ValidacionVacio{
    margin-left:110px;
}

.Atras{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:300px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    margin-left:25%;
    margin-top:20px;
}

.AtrasView{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:300px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    margin-left:13%;
    margin-top:20px;
}