﻿html{
    
}

body{
    padding:0px;
    margin:0px;
    background:url(../Imagenes/fondoprincipal2.jpg)
}

.VentanaPrincipal{
    width:600px;
    height:550px;
    background:url(../Imagenes/fondoprincipal.jpg);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;   
}

.Titulo{
    position:absolute;
    left:38%;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:2%;
}

.TableRow {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:35px;
}

.TableCell{
    display:table-cell; 
}

.TableCell2{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
    height:35px;
    width:550px;
    margin-bottom:5px;
}

.DisplayTable {
    width:600px;  
    height:250px;
    overflow-y: scroll; 
}

.DisplayTable2{
    position:absolute;
    margin-top:80px;
    overflow-y:scroll;
    width:500px;
    height:100px;
    background-color:white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#GridView1{
    background-color:white;
    width:100%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td{
    text-align:center;
    padding:10px;
}

th{
    color:black;
    height:40px;
    background-color: #95A5A6;
}

.ScrollBar{
    overflow-y:scroll;
    width:100%;
    height:250px;
}

.Filtro{
    display:table;
    width:50%;
}

.contenedor{
    display:table-caption;
    padding-bottom:10px;
    width:100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.txtFiltro{
    width:100%;
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height:20px;
}

.labelFiltro{

}

#Button1{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:150px;
    margin-bottom:10px;
    position:relative;
    left:0%;
}

#Button4{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:150px;
    margin-bottom:10px;
    position:relative;
    left:0%;
}

#Button2{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:150px;
    margin-top:10px;
    margin-left:55px;
}

#Button3{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:150px;
    margin-top:10px;
    margin-left:55px;
}

.contenedorBloquear{
    position:absolute;
    right:7%;
    height: 250px;
    width:266px;
    top:12%;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    text-align:center;
}

.txtBloquear{
    width:75%;
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height:20px;
    margin-left:30px;
}

.Validador{
    margin-left:70px;
}

.Atras{
    border-radius:35px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:250px;
    height:30px;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    bottom:3%;
    left:32%;
}